<!--
Use this template with the following variables
 logo: replaces the "cid:logo" by an email logo inline image
 messageDate: a String Date of some kind, appears above a header
 messageHeader: a String shown in a header tag
 messages: a List (or Map) whose values are iterated over and each shown in a bullet list
-->
<table cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table style="border:3px solid #999;" bgcolor="#313131" cellpadding="15" cellspacing="0" width="100%">
        <tr>
          <td>
            <div style="margin-bottom:10px;"><img src="cid:logo" alt="SI Logo"/></div>
            <div style="background-color:#ffffff; padding:15px;">
            <div>
              <p><span>Date: ${messageDate}</span></p>
            </div>
            <div><h1>${messageHeader}</h1></div>
            <div>
              <ul>
              #foreach ($msg in $messages)
                <li>$msg</li>
              #end
              </ul>
            </div>
            <div style="color:#fff; margin-top:10px; font-size:11px;">
              &copy; Logicalis Group 2017. All Rights Reserved.
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
