<table style="width:547px;" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table style="border:3px solid #999;" bgcolor="#313131" cellpadding="15" cellspacing="0" width="100%">
        <tr>
          <td>
            <div style="margin-bottom:10px;"><img src="cid:logo" alt="SI Logo"/></div>
            <div style="background-color:#ffffff; padding:15px;">
              <table width="100%">
                <tr>
                  <td>
                    <h1 style="font-weight:normal;">Password Reset Notification</h1>
                  </td>
                </tr>
                <tr>
                  <td align="left">We received a request to reset your password. If you did not request this from the Forgot Password link on the login page, please let us know. Otherwise, click the following link to complete your password reset:</td>
                </tr>
                <tr>
                  <td><br/></td>
                </tr>
                <tr>
                  <td>
                    <a href="${resetlink}" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #9a676b;display:inline-block;background-color:#d24c4e;" target="_blank">
                      <strong>Reset Password</strong></a>
                  </td>
                </tr>
                <tr>
                  <td><br/></td>
                </tr>
              </table>
            </div>
            <div style="color:#fff; margin-top:10px; font-size:11px;">
              &copy; Logicalis Group 2017. All Rights Reserved.
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
